<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="SS730_Communication_Platform.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                </sectionGroup>
        </configSections>
        <startup>
            <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
        </startup>

  <applicationSettings>
                <SS730_Communication_Platform.My.MySettings>
                  <setting name="NomeUtente" serializeAs="String">
                    <value>12345</value>
                  </setting>
                  <setting name="Password" serializeAs="String">
                    <value>98765</value>
                  </setting>
                  <setting name="Pincode" serializeAs="String">
                    <value>00000000</value>
                  </setting>
                  <setting name="cfProprietario" serializeAs="String">
                    <value>FRSRFL72R25H282U</value>
                  </setting>
                  <setting name="codRegione" serializeAs="String">
                    <value>120</value>
                  </setting>
                  <setting name="codSSA" serializeAs="String">
                    <value>8888</value>
                  </setting>
                  <setting name="codASL" serializeAs="String">
                    <value>101</value>
                  </setting>
                  <setting name="DefaultXmlPath" serializeAs="String">
                    <value>C:\</value>
                  </setting>
                  <setting name="Color1" serializeAs="String">
                    <value>233; 240; 249</value>
                  </setting>
                  <setting name="Struttura" serializeAs="String">
                    <value>RADIOLOGIA TIBURTINO</value>
                  </setting>
                  <setting name="Color2" serializeAs="String">
                    <value>233; 240; 249</value>
                  </setting>
                </SS730_Communication_Platform.My.MySettings>
        </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InvioTelematicoSS730pMtomPortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="DettaglioErrori730PortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="EsitoInvioDatiSpesa730PortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="RicevutaPdf730PortBinding">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
<!--    <client>
      <endpoint address="https://invioSS730pTest.sanita.finanze.it/InvioTelematicoSS730pMtomWeb/InvioTelematicoSS730pMtomPort"
        binding="basicHttpBinding" bindingConfiguration="InvioTelematicoSS730pMtomPortBinding"
        contract="InvioTelematicoSpeseSanitarie730p.InvioTelematicoSS730pMtom"
        name="InvioTelematicoSS730pMtomPort" />
      <endpoint address="https://invioSS730pTest.sanita.finanze.it/EsitoStatoInviiWEB/DettaglioErrori730Service"
        binding="basicHttpBinding" bindingConfiguration="DettaglioErrori730PortBinding"
        contract="DettaglioErrori730Service.DettaglioErrori730" name="DettaglioErrori730Port" />
      <endpoint address="https://invioSS730pTest.sanita.finanze.it/EsitoStatoInviiWEB/EsitoInvioDatiSpesa730Service"
        binding="basicHttpBinding" bindingConfiguration="EsitoInvioDatiSpesa730PortBinding"
        contract="EsitoInvioDatiSpesa730Service.EsitoInvioDatiSpesa730"
        name="EsitoInvioDatiSpesa730Port" />
      <endpoint address="https://invioSS730pTest.sanita.finanze.it/Ricevute730ServiceWeb/ricevutePdf"
        binding="basicHttpBinding" bindingConfiguration="RicevutaPdf730PortBinding"
        contract="RicevutaPdf730Service.RicevutaPdf730" name="RicevutaPdf730Port" />
    </client>
-->
    <client>
      <endpoint address="https://invioSS730p.sanita.finanze.it/InvioTelematicoSS730pMtomWeb/InvioTelematicoSS730pMtomPort" binding="basicHttpBinding" bindingConfiguration="InvioTelematicoSS730pMtomPortBinding" contract="InvioTelematicoSpeseSanitarie730p.InvioTelematicoSS730pMtom" name="InvioTelematicoSS730pMtomPort"/>
      <endpoint address="https://invioSS730p.sanita.finanze.it/EsitoStatoInviiWEB/DettaglioErrori730Service" binding="basicHttpBinding" bindingConfiguration="DettaglioErrori730PortBinding" contract="DettaglioErrori730Service.DettaglioErrori730" name="DettaglioErrori730Port"/>
      <endpoint address="https://invioSS730p.sanita.finanze.it/EsitoStatoInviiWEB/EsitoInvioDatiSpesa730Service" binding="basicHttpBinding" bindingConfiguration="EsitoInvioDatiSpesa730PortBinding" contract="EsitoInvioDatiSpesa730Service.EsitoInvioDatiSpesa730" name="EsitoInvioDatiSpesa730Port"/>
      <endpoint address="https://invioSS730p.sanita.finanze.it/Ricevute730ServiceWeb/ricevutePdf" binding="basicHttpBinding" bindingConfiguration="RicevutaPdf730PortBinding" contract="RicevutaPdf730Service.RicevutaPdf730" name="RicevutaPdf730Port"/>
    </client>
</system.serviceModel>
</configuration>
